div#nav_list_container{
	width:35px;
	overflow:hidden;
	position:absolute;
	z-index:2;
}
div#channel_container{
	width: calc(100% - 50px);
}
div#nav_list_container:hover{
	width:210px;
	overflow:visible;
}
div#nav_list_container div.server_list{
	visibility:hidden;
}
div#nav_list_container:hover div.server_list{
	visibility:visible;
}