input,select{
	font-family: "Noto Sans", Verdana, Geneva, sans-serif;
	font-size:1em;
	border:1px solid #505050;
	background:rgba(255, 255, 255, 0.06);
	color:rgba(255, 255, 255, 0.54);
	outline: none;
}
input:hover{
	border-color:#E1E1E1;
	color:#E1E1E1;
}
input[type="text"],input[type="password"],select{
	background:#1E1E1E;
}
