div#main-app, div#nav-tree{
	background: #2C3E58;
	color: #e9f2ff;
}
input[type='text']{
	background: #1a283c;
	color: #d0dcef;
	border-color: #03142d;
}

div#nav-tree ul li.selected, div#nav-tree ul li:hover, div.userlist div.user:hover{
	background-color: #1a283c;
}

div.channel-meta{
	background: #2a3d56;
}


.list-content{
	color: #69cae8;
}
.list-name{
	color: #ac8be2;
}
.whois-extra{
	color: #97a8ff;
}

a{
	color: #75beff;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #142031;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #142031;
}
::-webkit-scrollbar-thumb:active {
  background: #142031;
}
::-webkit-scrollbar-track {
  background: #3e516d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #3e516d;
}
::-webkit-scrollbar-track:active {
  background: #3e516d;
}
::-webkit-scrollbar-corner {
  background: transparent;
}