div#main-app{
	background:linear-gradient(135deg, #ba337f 0%,#683e86 52%,#28468b 100%);
	color:#dddce4;
}
div#nav-tree{
	background: rgba(0, 0, 0, 0.12);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	color:#ded2ea;
}
div.server-list li.selected,div.server-list li:hover {
	background-color: rgba(0, 0, 0, 0.23);
}
div.channel-meta{
	background:rgba(0, 0, 0, 0.27);
}
input[type='text'], input[type='password'] {
	background: rgba(0, 0, 0, 0.23);
	border-color:1px solid rgba(255, 255, 255, 0.25);
}
div.notice-meta{
	background:rgba(0, 0, 0, 0.24);
}