
.default{
	color:#c4c3d8;
	background-color:#0d1831;
}

/* style for the navigation pane on the left */
div#main_list_container {
    background: #072249;
	color:#EBECEB;
	border:0;
}
div.server_list div.selected {
    background-color: #255D88;
    color: white;
}
div#main_list_container div.unread{
	background: #5387B5;
}
div#main_list_container div.server_title{
	color:#88c2ff;
}
div#bottom_menu{
	background: #072249;
	border:0;
}
.highlight {
    background: #0e3358;
}

/* styles for channel area */
input[type='text'],input[type='password'],input[type='number'],div.channel div.bottom input.channel_input{
	background: #333B54;
    border: 1px solid #161233;
}
div.channel div.channel_users{
	background: #08204B;
}
div.channel div.channel_users div.user:hover{
	background-color: #255D88;
	color:white;
}


/* other content */
input[type='button']{
	background: rgba(255, 255, 255, 0.2);
	color: white;
	border: 1px solid #2B2B2E;
	padding: 5px;
	border-radius: 5px;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525A74;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #161233;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

*:focus {
    outline: none;
}
